.widget {
   background-color: #143938;
   height: 85%;
   width: 22%;
   margin-left: 20px;
   border-radius: 10px;
   color: #FFFFFF;
   padding: 5px 2px 0px 7px;
   float: left;
}
.desc {
   font-size: 11px;
}
.num {
   text-align: center;
   font-size: 2em;
   font-weight: bold;
   margin-top: 12%;
}
