.widget {
   background-color: #7399C6;
   height: 85%;
   width: 23%;
   margin-left: 50px;
   margin-right:30px;

   border-radius: 10px;
   color: #FFFFFF;
   padding: 15px 2px 0px 7px;
   float: left;
   text-align: center;
   font-weight: bold;
}
.desc {
  text-align: center;
   font-size: 11px;

}
.num {
   text-align: center;
   font-size: 2em;
   font-weight: bold;
   margin-top: 1%;
}
