.portfolio-section {
   width: 40%;
   float:left;
}
.not-portfolio-section {
   width: 60%;
   float: left;
}
.widgets-section {
   height: 22vh;
   background: #F0EDEA;
   border-radius: 10px;
   margin-left: 10px;
   padding-top: 20px;
}
.graph-section {
   height: 65vh;
   background: #F0EDEA;
   border-radius: 10px;
   margin: 20px 0px 0px 10px;
   padding: 20px;
}